.warning {
    background-color: #ffc107;
    color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

.order {
    margin-top: 20px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Серый фон */
    border-radius: 10px;
}

.order h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
.orderStatus{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;; /* Серый фон */
}
.order .file a {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.order .file a:hover {
    background-color: #0056b3;
}

.order .products {
    margin-top: 20px;
}

.order .products p {
    margin: 5px 0;
}

.order .products p:first-child {
    font-weight: bold;
}


.order .products p:last-child {
    clear: both;
    border-bottom: none
}

.order .products p:last-child:nth-child(odd) {
    font-weight: bold;
}
.products{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border: 1px solid #ccc; /* Границы для грида */
    padding: 10px; /* Отступ внутри грида */
    border-radius: 10px;
    background-color: white;
}
.orderHeader{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products p {
    padding: 10px;
}
.orderHeader{
    padding: 10px;
}
.orderEdit {
    width: 75%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-self: end; /* Правый край в родительском контейнере */
    align-self: end; /* Нижний край в родительском контейнере */
    gap: 10px; /* Промежуток между элементами */
    margin-top: auto; /* Оставляем свободное пространство наверху */
}
.orderEdit button {
    width: 100%; /* Ширина кнопки на 100% */
    padding: 10px 20px; /* Добавляем отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругляем углы */
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Задаем курсор при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

.orderEdit button:hover {
    background-color: #0056b3; /* Темнее синий цвет при наведении */
}
