.wrapper{
    max-width: none;
    display: flex;
    justify-content: center;
}
.product {
    background-color: rgba(236, 236, 236, 0.5);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.productPreviewInfo{
    display: flex;
    flex-direction: column;
}

.productHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.productHead h3:last-child {
    color: #007bff; /* Цвет цены */
}
.productHead h3 {
    font-size: 2.7em;
    color: #333;
    line-height: 3em;
    margin: 0px;
}

.MainInfo {
    display: flex;
    margin-bottom: 20px;
}
.previewImgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
}

.preview {
    border-radius: 5px;
    margin-right: 20px;
}

.productSections{
    background-color: white;
    border-radius: 20px;
    display: flex;
    margin-bottom: 20px;
    width:fit-content;
}

.productInfo {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
}
.productInfo span{
    padding:10px;
}
.buttons {
    margin-right: 20px;
}

.buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.buttons button {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 5px;
    border:none;
    color: #fff; /* Цвет текста на кнопках */
    cursor: pointer;
    background-color: rgba(0, 123, 255, 0.5);
    transition: transform 0.3s ease;
}
.buttons button:hover {
    border: 1px solid #007bff;
    transform: scale(1.1);
}
.buttons button img{
    padding: 0px;
    width: 100%;
}
.productButton{
    background-color: rgba(0, 123, 255, 0.5);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    align-self: center;
    margin: 10px;
    transition: transform 0.3s ease;
}
.productButton:hover {
    border: 1px solid #007bff;
    transform: scale(1.1);
}
.buttons{
    display: flex;
    align-items: center;
}
.additionalInfo {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.additionalInfo h4 {
    color: #333;
    font-size: 25px;
    margin: 0 0 10px;
}

.additionalInfo .properties {
    margin-top: 10px;
}

.additionalInfo .properties p {
    margin: 5px 0;
    color: #666;
    font-size: 20px;
}

.additionalInfo .properties p:nth-child(even) {
    background-color: #f5f5f5;
}

/* Стили для блока отзывов */
.review {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.reviews{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.review span {
    display: inline-block;
    margin-right: 10px;
    color: #333;
}

.review span:first-child {
    font-weight: bold;
    width: 20%;
}
.reviews h4{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.review span:nth-child(2){
    width: 60%;
}
.review span:last-child {
    width: 10%;
    color: #999;
}

/* Стили для формы оставления отзыва */
.reviews form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.reviews form textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.reviews form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.reviews form button:hover {
    background-color: #0056b3;
}
